

.title{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(2, 38, 104);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// .body3{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width:auto;

// }

.body2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.personal-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.canvas-front{
    border-radius: 10px; 
    background-color: rgba(173, 216, 230, 0.95);   
    margin:20px;   
}

.manual{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 600px;
    width: auto;
    background-color: lightblue;
    margin:20px; 
   
}

.yellow, .red, .blue, .black, .white, .dir{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3px;
}



h2{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 38, 104);
}



a {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(2, 38, 104);
    text-decoration: none;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(2, 38, 104);
    padding: 10px;
    border-radius: 30px;
    background-color: lightblue;
    
}


body {
    background-image: url('../src/styles/yeah22.jpg');
    background-size:cover;
} 




.yellow{
    color: yellow;
    
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.white{
    color: whitesmoke;
}