*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcyan;
}

#canvas{
    border-radius: 10px; 
    // position: absolute;
    display: block; 
    margin: auto;
    width: 900px;
    height: 600px;
    flex-direction: row;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: lightblue;
    
}

    